body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titleText {
  background: rgb(7, 77, 172);
  background: linear-gradient(
    90deg,
    rgba(7, 77, 172, 1) 0%,
    rgba(73, 0, 102, 1) 93%,
    rgba(81, 0, 124, 1) 100%
  );
  color: white;
  padding: 5px;
}

.btn {
  min-width: 295px;
}

.row {
  width: 100vw;
  display: flex;
}

.card {
  background-color: grey;
}

#searchButton {
  background: rgb(7, 77, 172);
  background: linear-gradient(
    90deg,
    rgba(7, 77, 172, 1) 0%,
    rgba(73, 0, 102, 1) 93%,
    rgba(81, 0, 124, 1) 100%
  );
}
